{% extends "base.html" %}
{% block content %}

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body bg-img">
        <div class="container shoot-show">
            <div class="columns">
              <div class="column is-one-quarter">
                <a class="button is-info is-light shoot-button" href="/video">Shoot</a>
              </div>
              <div class="column is-one-quarter">
                <a class="button is-info is-light show-button" href="/still">Show</a>
              </div>
            </div>
            
          </div>
    </div>
  </section>

{% endblock %}